@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
$colorbar:#F4CF1B;
$fontt:'Cairo', sans-serif;

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $fontt;
    box-sizing: border-box;
    font-size: 16px;
}
.barre {
    width: 100%;
}
.barre1 {
    @extend .barre;                                    //extend
    background-image: url("png/Merged-bar-51.png");
    background-color: #D0E5F0;
    ul{
        li:nth-child(3){
            a{
                border: 1px solid rgb(0, 0, 0);
                border-radius: 10px;
                display: flex;
                padding-left: 10px;
                font-size: 1.3vw;
                font-weight: 600;
                font-family: $fontt;
                
                img{
                    padding: 10px;
                }
                &:hover{
                    background-color: $colorbar;
                }
            }
        }
    }

    &__logo {
        max-width: 4%;
        margin: 0.5% auto auto 2%;
    }
}
%flexbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: baseline;
    width: 10%;
    height: auto;
    list-style: none;
    float: right;
    font-size: 1.3vw;
    margin-right: 20%;
    margin-top: 1.5%;
}
ul {
    @extend %flexbar;                   //placeholder

    & li {
        margin-right: 35%;
        align-items: center;

        & a {
            text-decoration: none;
            color: #1078AD;
            font-weight: 600;

            & .imgMenu {
                width: 7vw;
                height: auto;
                padding-left: 20%;
            }

        }

    }
}


.info {
    width: 100%;
    background: $colorbar;
    font-size: 1.2vw;

    &__txt {
        margin: 0 auto;
        text-align: center;
    }
}