// header et navbar
//header et nav

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'cairo';
    box-sizing: border-box;
    font-size: 16px;
}

.topbarre {
    width: 100%;
}

.bar1 {
    width: 100%;
    background-image: url("images/Merged-bar-51.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D0E5F0;

    &__logo {
        max-width: 4%;
        margin: 0.5% auto auto 2%;

    }

}


ul {
    width: 10%;
    height: auto;
    list-style: none;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: baseline;
    font-size: 1.3vw;
    margin-right: 20%;
    margin-top: 1.5%;





    & li {
        margin-right: 35%;
        align-items: center;


        & a {
            text-decoration: none;
            color: black;
            font-weight: 600;

            & .imgMenu {
                width: 7vw;
                height: auto;
                padding-left: 20%;
            }

        }

    }
}


.bar2 {
    width: 100%;
    background: #F4CF1B;
    font-size: 1.2vw;

    &__txtbar {
        margin: 0 auto;
        text-align: center;
    }
}

// section sympole

.symp {
    width: 80%;
    margin: 0 auto 4%;
    text-align: center;

    &__tit {
        margin-bottom: 5%;
    }

    &__photos {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: baseline;


    }

    &__cart {
        margin: 0 auto;
        padding: 5% 10% 2%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}

// section rec

.rec {
    background-color: #1078AD;

    & h1 {
        text-align: center;
        padding-top: 2%;
        color: white;
    }

    &__bloc {
        width: 100%;
        margin: 3% auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

}

.txtLeft {
    padding-bottom: 2%;

    &__txt {
        color: white;
    }
}

.tel {
    text-align: center;

    & h2 {
        color: #F4CF1B;
        margin-bottom: 6%;
    }


    &__num {
        width: max-content;
        background-color: #F4CF1B;
        padding: 0.5em 1em;

        & h1 {
            color: #1078AD;

        }
    }

    & H3 {
        font-weight: 500;
        color: white;
        margin-top: 6%;
        text-decoration: underline #F4CF1B;
    }
}

.corona {
    display: flex;
    flex-direction: column;
    background-color: #96C5DC;
    text-align: center;
    align-items: center;
    justify-content: center;

    & h3 {
        color: #1078AD;
        margin: 1%;
    }


}

.btn2 {
    width: 30%;
    background: #1078AD;
    padding: 0.5%;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2%;
}

// main

.headerHero {
    // width: 100%;
    // margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainImg {
    width: 45%;
    height: auto;
    padding-left: 5%;

    &__groupe {
        width: 100%;
        height: auto;
        padding: 3%;

    }
}

.txtContent {
    width: 45%;
    height: auto;
    text-align: center;
    font-size: 1vw;
    padding-right: 5%;

    &__tit1 {
        color: #1078AD;
    }

    &__image {
        max-width: 20%;
        height: auto;
    }

    &__tit2 {
        color: #7F7F7F;
    }

}

.btn1 {
    width: 70%;
    height: auto;
    margin-top: 2%;
    background: #1078AD;
    padding: 1%;
    color: white;
    font-size: 1.3vw;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

//footer

.mainFooter {
    width: 100%;
    margin-bottom: 3%;


    &__logo {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        padding: 2% 0 0;

    }
}

.blocFooter {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu {


    &__bar {
        list-style: none;
        display: flex;
        flex-direction: column;
        float: right;
        text-align: center;
        align-items: center;
        font-size: 1.2rem;
    }
}

.setColor {
    color: #1078AD;
    font-size: 1.2rem;
    font-weight: 600;
}

.contact {
    text-align: center;
    align-items: center;
    padding-top: 3%;
    font-weight: 500;
}

.otherColor {
    color: #369D53;
    font-weight: 700;
}

.textFooter {
    color: #7F7F7F;


}

.barFooter {
    width: 100%;
    height: 4vh;
    background-color: #1078AD;
}
