//Mixins
@mixin button1 {
    background-color: transparent;
    border: 2px solid #1078AD;
    border-radius: 10px;padding: .1rem .5rem;
    display: flex;
    align-items: center;
    &:hover{
        opacity: .5;
    }
    img{
        width: 20px;
    }
}
@mixin button2($a:1.3rem,$b:80%) {
            font-size: $a;
            font-weight: bold;
            background-image: url(btn.png);
            border: none;
            border-radius: 5px;
            color: $white;
            width: $b;

}
@mixin links {
    text-decoration: none;
                        color: $black;
                        font-weight: bold;
                        transition-duration: 0.3s;
                        &:hover{
                            color: $color1;
                        }
}


//Responsive
@mixin tab {
    @media only screen and (min-width:768px){
        @content;
    }
}