@import "./fichier1.scss";
@import "./fichier2.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    
}
body{
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-image: url(Groupe149.png);
        img{
            width: 13%;
        }
        nav{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                width: 60%;
                display: flex;
                justify-content: space-around;
                list-style: none;
                li{
                    a{
                        @include links;
                    }
                }
            }
            button{
               @include button1();
            }
        }
    }
    .reminder{
        background-color: $color2;
        text-align: center;
        padding: .5rem;
        font-size: .8rem;
        padding: .3rem 2rem 0;
        h4{
            color: $color1;
        }
        p{
            font-weight: bold;
            max-width: 520px;
            margin: auto;

        }
    }
    .section1{
        padding: .5rem;
        text-align: center;
        @include tab(){
            display: grid;
            grid-template-columns: 1fr 1fr;
        };
        &___illustration{
            img{
                width: 100%;
                @include tab(){
                    align-self: center;
                    grid-column: 1/2;
                }
            }
        }
       &__part2{
                h3{
                padding: .5rem 4.5rem;
                color: $color1;
                @include tab(){
                    padding: .4rem;
                }
            }
            img{
                @include tab(){
                    width: 10%;
                }
            }
            p{
                font-size: .8rem;
                font-weight: bold;
                color: $color3;
                padding: 1rem;
            }
            button{
                @include button2();

            }
        }
    }
    .section2{
        padding: .5rem;
        text-align: center;
        @include tab(){
            padding: 3rem;

            }
        h2{
            color:$color1;
            padding: 1rem 3.5rem;
        }
        &__symtomes{
            display: flex;
            flex-wrap: wrap;
        }
        &__fièvre{
            width: 50%;
            text-align: center;
            img{
               width: 15vw;
               height: 10vh;
            }
        }
        &__nausées{
            width: 50%;
            text-align: center;
            img{
               width: 15vw;
               height: 10vh;

            }
        }
        &__gêne{
            width: 50%;
            text-align: center;
            img{
               width: 20vw;
               height: 10vh;
            }
        }
        &__toux{
            width: 50%;
            text-align: center;
            img{
               width: 20vw;
               height: 10vh;
            }
        }
    }
    .section3{
        
        text-align: center;
        background-color: $color1;
        h4{
            color: $color4;
        }
        &__recommendation{
            display: flex;
            flex-direction: column;
            @include tab(){
                flex-direction: row;
            }
           
            ul{
                padding: 1rem;
                color: $white;
                font-weight: bold;
                list-style: none;
                padding-top: 2rem;
                 @include tab(){
                text-align: start;

                }
            }
            
        }
        &__contact{
            width: 60%;
            display: flex;
            flex-direction: column;
            margin: auto;
            h4{
                padding: 1rem;
                color: $color2;
            }
            button{
                margin: 0 1rem;
                background-color: $color2;
                border: none;
                color: $white;
                font-size: 1.3rem;
                border-radius: 10px;
               margin: auto;
               max-width: 55%;

            }
            a{
                padding: 1rem;
                color: $white;
                text-decoration: underline $color2;
            }
        }
        &__test{
            background-color: $color4;
            padding: 1rem;
            p{
                font-size: .6rem;
                font-weight: bold;
                color: $color1;
                @include tab(){
                    font-size: 1rem;

                    }
            }
            img{
                width: 7vw;
            }
            button{
                @include button2($a:1rem,$b:40%);
            }
            
        }
    }
    footer{
        text-align: center;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        padding: 2em .5rem 0;
        img{
            grid-column: 1/3;
        }
        ul{
            list-style: none;
            button{
                @include button1();
            }
            li{
                a{
                    @include links;
                }
            }
           
        }
        .footer__contact{
            h4{
                color: $color1;
            }
            p{
                font-weight: bold;
                font-size: .6rem;
            }
            .num{
                color: $color5;
                font-weight: bold;
            }
        }
        .footer__apropos{
            font-size: .6rem;
            padding: 2rem;
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .blue{
            width: 100vw;
            height: 3vh;
            border-radius: 5px 5px 0 0;
            background-color: $color1;
            grid-column: 1/3;
            grid-row: 4/5;
        }

    }
}