@import "./fichier1.scss";
@import "./fichier2.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;}
    
.section3{
        
    text-align: center;
    background-color: $color1;
   
    h4{
        color: $color4;
        @include laptop(){
            font-size: 1.3rem;
        }
        @include desktop(){
            font-size: 200%;
        }
    }
    &__recommendation{
        display: flex;
        flex-direction: column;
        @include tab(){
            flex-direction: row;
        }
        @include laptop(){
            padding: 2rem;
        }
       
        ul{

            padding: 1rem;
            color: $white;
            font-weight: bold;
            list-style: none;
            padding-top: 2rem;
             @include tab(){
            text-align: start;

            }
            @include desktop(){
                font-size: 150%;
            }
        }
        
    }
    &__contact{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: auto;
        h4{
            padding: 1rem;
            color: $color2;
        }
        button{
            background-color: $color2;
            border: none;
            color: $white;
            font-size: 1.3rem;
            border-radius: 10px;
            padding: 0 .5rem;
            margin: auto;
            max-width: 80%;
            transition-duration: 0.3s;
            &:hover{
                box-shadow: -2px 2px $black;
                transform: scale(1.1);

            }
            &:active{
                transform: scale(0.9);
            }

        }
        a{
            padding: 1rem;
            color: $white;
            text-decoration: underline $color2;
            @include desktop(){
                font-size: 150%;
            }
        }
    }
    &__test{
        background-color: $color4;
        padding: 1rem;
        p{
            font-size: .6rem;
            font-weight: bold;
            color: $color1;
            @include tab(){
                font-size: 1rem;

                }
                @include desktop(){
                    font-size: 150%;
                }
        }
        img{
            width: 7vw;
        }
        button{
            @include button2($a:1rem,$b:40%);
            @include desktop(){
                font-size: 150%;
            }
        }
        
    }
}