@import "./fichier1.scss";
@import "./fichier2.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;}

.reminder{
    background-color: $color2;
    text-align: center;
    padding: .5rem;
    font-size: .8rem;
    padding: .3rem 2rem 0;
    @include desktop(){
        // font-size: 110%;
    }
    h4{
        color: $color1;
    }
    p{
        font-weight: bold;
        max-width: 520px;
        margin: auto;

    }
}